<%- include('./header.ejs') %>

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/about_1.webp');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                    class="ion-ios-arrow-forward"></i></a></span> <span>About <i
                                class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">About Us</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-white">
        <div class="container">
            <div class="text-center mb-5">
                <h1 style="color: #003566;"><b> Welcome To <br> Pappa's travel Company </b></h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <img src="images/logo_2.jpg" alt="" class="img-fluid rounded-lg shadow-sm">
                </div>
                <div class="col-md-6">
                    <div class="text-dark">
                        <p class="mb-3">We're all about making life easier and more enjoyable for
                            you! From providing reliable drivers and taxis for your daily travels to arranging luxurious
                            airport
                            pickups and drop-offs, we've got you covered. Need a stylish ride for a special occasion?
                            Our
                            luxury
                            car rental service ensures you arrive in style, every time.</p>
                        <p class="mb-3">But that's not all – we also take care of your vehicle with our expert car care
                            services, so you can
                            keep cruising worry-free. Planning a relaxing getaway or an exciting tour? Our stay trips
                            and
                            tour
                            packages are designed to give you unforgettable experiences.</p>
                        <p class="mb-3">When it comes to special events and celebrations, we're here to make them even
                            more
                            memorable. From
                            guest management and events/weddings management to valet parking and surprise gift delivery,
                            we
                            handle every detail with care and precision.</p>
                        <p class="mb-3">
                            And if you're in need of accommodation, look no further! Our hotel and resort booking
                            service
                            ensures you find the perfect place to stay, while our VIP guest managing service makes sure
                            you're
                            treated like royalty.
                        </p>
                        <p class="mb-3">We're dedicated to providing top-notch service with a smile. Your
                            satisfaction is our priority, and we're here to make your life a little easier, one service
                            at a
                            time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-3" style="color: #003566;">Our Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a href="drivers">
                                <span class="flaticon-transportation"></span></a>
                        </div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Drivers & Taxi</h3>
                            <p>We've got you covered with our professional driver service. Sit back, relax, and let us
                                handle the wheel while you enjoy the ride!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-rent"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Rental Cars</h3>
                            <p>Experience luxury on wheels with our premium car rental service! From sedans to
                                stylish SUVs, make your journey extraordinary.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-wedding-car"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Tour Package</h3>
                            <p>Ready for an amazing journey? Enjoy the ride and make memories while
                                we handle all the details. Your adventure starts here!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-car"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Car Care</h3>
                            <p>Experience worry-free car care with our services! From maintenance to repairs. Let us
                                handle, your car is in expert hands.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-handshake"></span>
                        </div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Guest Management</h3>
                            <p>Discover effortless guest management with our all-inclusive services! From reservations
                                to tailored experiences, we've got your guests.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="icons/gift.png" alt="" width="30px">
                        </div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Surprise Gift Delivery</h3>
                            <p>Surprise someone special with our gift delivery service! Whether it's a birthday,
                                anniversary, or just because.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section" style="background-color: #ffd60a;">
        <div class="container">
            <div class="text-center mb-5 ftco-animate">
                <h2 class="" style="color: #003566;"><b>Why Choose Us</b></h2>
                <p class="text-dark">Experience Our Benifits</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 ftco-animate mb-5 text-dark">
                    <div class="text-center">
                        <img src="icons/24.png" alt="" width="40px">
                        <p style="color: #003566;"><b>24X7 All Service Available</b></p>
                        <p>Enjoy the convenience of our 24/7 service. Whether it's day or night, weekends, or holidays,
                            we're here to serve you round-the-clock, providing seamless travel solutions at your
                            convenience.</p>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate mb-5 text-dark">
                    <div class="text-center">
                        <img src="icons/staff.png" alt="" width="40px">
                        <p style="color: #003566;"><b>Experienced Staffs</b></p>
                        <p class=""></p>
                        <p>Our staff comprises both young and experienced individuals who are trained and groomed to
                            provide excellent service. With their expertise and dedication, you can expect professional
                            assistance with us.</p>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate mb-5 text-dark">
                    <div class="text-center">
                        <img src="icons/driver.png" alt="" width="40px">
                        <p style="color: #003566;"><b>Registered Drivers</b></p>
                        <p>Our drivers are verified and hold official registrations, prioritizing your safety and
                            peace of mind. With their professionalism , you can trust them to provide a
                            secure and comfortable travel experience every time you ride with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./footer.ejs') %>