<%- include('./header.ejs') %>
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/car-care.jpeg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                    class="ion-ios-arrow-forward"></i></a></span> <span>Car care <i
                                class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Car Care</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container text-center">
            <h2 style="color: #003566;"><b>Car Care Service</b></h2>
            <p> we understand that your car is more than just a mode of transportation. <br> it's a valuable asset that
                deserves the best care. <br> Our car care service is designed to keep your vehicle running smoothly and
                looking its best.</p>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 mb-5">
                    <div class="bg-white p-4 shadow-sm">
                        <div class="text-center mb-3">
                            <img src="icons/maintain.png" alt="icon" width="40px">
                            <h5 style="color: #003566;"><b>Regular Maintenance</b></h5>
                        </div>
                        <p>Performing routine tasks such as oil changes, filter replacements, and fluid checks to ensure
                            the proper functioning of the vehicle's components.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-white p-4 shadow-sm">
                        <div class="text-center mb-3">
                            <img src="icons/inspection.png" alt="icon" width="40px">
                            <h5 style="color: #003566;"><b>Vehicle Inspection</b></h5>
                        </div>
                        <p>Conducting thorough inspections of the vehicle's exterior, interior, engine, and other key
                            components to identify any issues or potential problems.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-white p-4 shadow-sm">
                        <div class="text-center mb-3">
                            <img src="icons/vehicle.png" alt="icon" width="40px">
                            <h5 style="color: #003566;"><b>Detailing</b></h5>
                        </div>
                        <p>Cleaning and detailing the interior and exterior of the vehicle to restore its appearance and
                            protect its surfaces from wear and tear.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-white p-4 shadow-sm">
                        <div class="text-center mb-3">
                            <img src="icons/repair.png" alt="icon" width="40px">
                            <h5 style="color: #003566;"><b>Minor Repairs</b></h5>
                        </div>
                        <p>Addressing minor issues such as scratches, dents, and dings to maintain the vehicle's
                            aesthetic appeal and resale value.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-white p-4 shadow-sm">
                        <div class="text-center mb-3">
                            <img src="icons/tire.png" alt="icon" width="40px">
                            <h5 style="color: #003566;"><b>Tire Repairs</b></h5>
                        </div>
                        <p>Checking tire pressure, rotating tires, and replacing worn-out tires to ensure optimal
                            traction and your safety on the road.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./footer.ejs') %>