<%- include('./header.ejs') %>

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/career.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                    class="ion-ios-arrow-forward"></i></a></span> <span>Careers <i
                                class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Careers</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="text-center">
                <h1><b>Join Our Team</b></h1>
                <p> we're dedicated to providing exceptional service and unforgettable
                    experiences to our clients. From airport pickups to luxury car rentals, tour packages to surprise
                    gift delivery, we offer a wide range of services aimed at making every moment special. As we
                    continue to grow, we're looking for passionate individuals to join our team and help us deliver
                    excellence in every aspect of our business.</p>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="text-center mb-5">
                <h3 style="color: #003566;"><b>Why Work With Us?</b></h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-5">
                    <div class="bg-white p-4 shadow-sm custom-card" style="height: 360px;">
                        <div class="text-center">
                            <img src="icons/opportunity.png" alt="" width="40px">
                            <p style="color: #003566;"><b>Diverse Opportunities</b></p>
                        </div>
                        <p>Whether you're a seasoned professional or just starting your career, we offer a variety of
                            opportunities across different areas of our business. From driving and customer service
                            roles to
                            event management and hospitality, there's something for everyone at Pappas Travel Company.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-white p-4 shadow-sm custom-card" style="height: 360px;">
                        <div class="text-center">
                            <img src="icons/excellence.png" alt="" width="40px">
                            <p style="color: #003566;"><b>Commitment to Excellence</b></p>
                        </div>
                        <p>we strive for excellence in everything we do. From the moment our clients book our services
                            to
                            the completion of their experience, we're committed to delivering the highest standards of
                            quality and customer satisfaction.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-white p-4 shadow-sm custom-card" style="height: 360px;">
                        <div class="text-center">
                            <img src="icons/collaboration.png" alt="" width="40px">
                            <p style="color: #003566;"><b>Culture of Collaboration</b></p>
                        </div>
                        <p> We believe in the power of teamwork and collaboration. Our inclusive and supportive work
                            environment fosters creativity, innovation, and personal growth. Whether you're working with
                            clients or colleagues, you'll be part of a team that values respect, integrity, and
                            professionalism.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="text-center">
                <h2>How To Apply?</h2>
                <p>To apply for any of our current openings, please submit your resume and cover letter to
                    pappastravlecompany@gmailcom.<br> contact us directly at +919048468111.</p>
                    <a href="https://wa.me/+919048468111" class="btn px-4 py-2 text-white" style="border-radius: 20px; background-color: #ffd60a;">Whatsapp</a>
            </div>
        </div>
    </section>

    <%- include('./footer.ejs') %>