<%- include('./header.ejs') %>
    <section class="hero-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="bg-area d-flex align-items-end">
                        <div class="ftco-animate">
                            <p class="breadcrumbs">
                                <span class=""><a href="/" class="text-light">Home <i
                                            class="ion-ios-arrow-forward"></i></a></span>
                                <span>Cars <i class="ion-ios-arrow-forward"></i></span>
                            </p>
                            <h1 class="text-white">Cars</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-1.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Audi A6</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Sedan</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-2.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Range Rover</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Subaru</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-3.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Rolls-Royce Ghost</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Ghost</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-4.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Audi Q3</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">q3</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-5.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Bmw Blue Garden</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Blue Garden</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-6.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Toyota Land Cruiser</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cruiser</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-7.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Mercedes Grand Sedan</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-8.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>BMW 5 Series</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">5</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-9.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Mitsubishi Outlander</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">outlander</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-10.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Jaguar XF</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">XF</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-11.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Mercedes Benz </a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">A Class</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-12.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Audi A4</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">White</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-13.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Audi A3</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">A3</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-14.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Audiq3rs</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">2023</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-15.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Mercedes Benz C Class </a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">C Class</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111?text=Hello"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-16.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Mercedes Benz G class </a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">G Class</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                            style="background-image: url(images/car-17.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>Volkswagen polo gt</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">GT</span>

                            </div>
                            <p class="d-flex mb-0 d-block"><a href="https://wa.me/+919048468111"
                                    class="btn btn-primary py-2 mr-1">Book now</a> <a
                                    class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    <%- include('./footer.ejs') %>