<%- include('./header.ejs') %>
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/taxi_2.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-3">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                    class="ion-ios-arrow-forward"></i></a></span> <span>Drivers & Taxi <i
                                class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container-fluid">
            <div class="text-center mb-5">
                <h1 style="color: #003566;"><b>Drivers & Taxi Service</b></h1>
                <p>Need to go somewhere, but don't have a driver? Where do you want to go? </p>
            </div>
            <div class="row justify-content-center m-md-5">
                <div class="col-md-4 ftco-animate mb-5">
                    <div class="py-5 px-4 bg-white shadow-sm custom-card">
                        <div class="text-center mb-3">
                            <img src="icons/shopping.png" alt="icon" width="30px" class="">
                            <h4 class="text-center" style="color: #003566;"><b>Shopping</b></h4>
                        </div>
                        <p class="text-dark">Heading out for a shopping, but worried about finding parking or
                            carrying heavy bags? Don't stress! Our service is here to make your shopping trips a
                            breeze. Whether you're picking up groceries, shopping for clothes, or grabbing household
                            essentials, our friendly drivers will take you door-to-door, ensuring you get to your
                            destination comfortably and hassle-free.</p>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate mb-5">
                    <div class="py-5 px-4 bg-white shadow-sm custom-card">
                        <div class="text-center mb-3">
                            <img src="icons/airport.png" alt="icon" width="30px" class="">
                            <h4 class="text-center" style="color: #003566;"><b>Airport Transportation</b></h4>
                        </div>
                        <p class="text-dark">Heading from or to the airport and need a ride? Look no further! Our
                            service is here to make your airport pickup and drop-off a breeze. Whether you're jetting
                            off on a vacation or returning home after a trip, our reliable drivers will be there to
                            greet you and ensure you reach your destination on time. With our airport transportation
                            service, traveling has never been easier!.</p>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate mb-5">
                    <div class="py-5 px-4 bg-white shadow-sm custom-card">
                        <div class="text-center mb-3">
                            <img src="icons/family.png" alt="icon" width="30px" class="">
                            <h4 class="text-center" style="color: #003566;"><b>Family Out</b></h4>
                        </div>
                        <p class="text-dark">Planning a fun day out with your family but but don't have a driver? No
                            worries! Let us handle the driving so you can enjoy making memories with your loved ones.
                            Our friendly drivers are here to take the wheel and ensure your family outing is full of joy
                            and laughter. Sit back, relax, and let us navigate the roads while you focus on having a
                            fantastic time together.</p>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate mb-5">
                    <div class="py-5 px-4 bg-white shadow-sm custom-card">
                        <div class="text-center mb-3">
                            <img src="icons/student.png" alt="icon" width="30px" class="">
                            <h4 class="text-center" style="color: #003566;"><b>Student Transportation</b></h4>
                        </div>
                        <p class="text-dark">Need a ride to school, soccer practice, or a friend's house? We've got you
                            covered! Our service is here to help kids get to where they need to be when parents or
                            guardians aren't available to drive. Whether it's a weekday morning or a weekend afternoon,
                            our friendly drivers will pick you up and drop you off safely and on time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center py-4 m-2 mb-5">
                <div class="col-md-6">
                    <div class="img-container ftco-animate col-md-12">
                        <img src="images/service_1.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-md-6 p-4">
                    <div class="content text-dark ftco-animate">
                        <h2 class="mb-3 custom-heading"><b>Driver Service</b></h2>
                        <p class="mb-2">Need to go somewhere, but don't have a driver? Where do you want to go?</p>
                        <p class="mb-2">Our drivers are here to make your travels safe and comfortable. They're
                            well-trained and friendly, ready to take you anywhere you need to go. Whether it's a short
                            trip or a long journey, they'll ensure you get there smoothly.</p>
                        <p class="mb-3">
                            Book a driver with us today and enjoy the journey stress-free. Sit back, relax,
                            and let us handle the driving while you focus on enjoying the ride.
                        </p>
                        <a href="contact" class="mb-3"><strong><u>Your journey is just a click away!</u></strong></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center py-4 m-2 mb-5">
                <div class="col-md-6 p-4">
                    <div class="content text-dark ftco-animate">
                        <h2 class="mb-3 custom-heading"><b>Taxi Service</b></h2>
                        <p class="mb-2">Are Looking for a comfortable ride to your destination? We can make your
                            journeys more comfortable!</p>
                        <p class="mb-2">With our taxi service, your comfort is our priority. Whether you're heading to a
                            nearby destination or embarking on a journey to a remote area, our fleet of vehicles is
                            designed to ensure a comfortable ride every time. </p>
                        <p class="mb-3">
                            With spacious interiors and plush seating, we create an atmosphere where you can relax and
                            enjoy the journey to your destination. Whether you're exploring rugged terrain, visiting
                            secluded destinations, or simply need to reach a distant location comfortably, our taxi
                            service is here to make your journeys enjoyable.
                        </p>
                        <a href="contact" class="mb-3"><strong><u>Your journey is just a click away!</u></strong></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-container ftco-animate col-md-12">
                        <img src="images/taxi_1.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                </div>
            </div>

        </div>
    </section> -->

    <%- include('./footer.ejs') %>