<%- include('./header.ejs') %>
    <section class="hero-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="bg-area d-flex align-items-end">
                        <div class="ftco-animate">
                            <p class="breadcrumbs">
                                <span class=""><a href="/" class="text-light">Home <i
                                            class="ion-ios-arrow-forward"></i></a></span>
                                <span>Drivers & Taxi <i class="ion-ios-arrow-forward"></i></span>
                            </p>
                            <h1 class="text-white">Drivers & Taxi Services</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center py-4 m-2 mb-5">
                <div class="col-md-6">
                    <div class="img-container ftco-animate col-md-12">
                        <img src="images/service_1.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-md-6 p-4">
                    <div class="content text-dark ftco-animate">
                        <h2 class="mb-3 custom-heading"><b>Driver Service</b></h2>
                        <p class="mb-2">Need to go somewhere, but don't have a driver? Where do you want to go?</p>
                        <p class="mb-2">Our drivers are here to make your travels safe and comfortable. They're
                            well-trained and friendly, ready to take you anywhere you need to go. Whether it's a short
                            trip or a long journey, they'll ensure you get there smoothly.</p>
                        <p class="mb-3">
                            Book a driver with us today and enjoy the journey stress-free. Sit back, relax,
                            and let us handle the driving while you focus on enjoying the ride.
                        </p>
                        <a href="contact" class="mb-3"><strong><u>Your journey is just a click away!</u></strong></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center py-4 m-2 mb-5">
                <div class="col-md-6 p-4">
                    <div class="content text-dark ftco-animate">
                        <h2 class="mb-3 custom-heading"><b>Taxi Service</b></h2>
                        <p class="mb-2">Are Looking for a comfortable ride to your destination? We can make your
                            journeys more comfortable!</p>
                        <p class="mb-2">With our taxi service, your comfort is our priority. Whether you're heading to a
                            nearby destination or embarking on a journey to a remote area, our fleet of vehicles is
                            designed to ensure a comfortable ride every time. </p>
                        <p class="mb-3">
                            With spacious interiors and plush seating, we create an atmosphere where you can relax and
                            enjoy the journey to your destination. Whether you're exploring rugged terrain, visiting
                            secluded destinations, or simply need to reach a distant location comfortably, our taxi
                            service is here to make your journeys enjoyable.
                        </p>
                        <a href="contact" class="mb-3"><strong><u>Your journey is just a click away!</u></strong></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-container ftco-animate col-md-12">
                        <img src="images/taxi_1.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <%- include('./footer.ejs') %>