<%- include('./header.ejs') %>
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/event_1.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-3">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                    class="ion-ios-arrow-forward"></i></a></span> <span>Events<i
                                class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Events Management</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 mb-5">
                    <div class="p-4 bg-white custom-card shadow-sm">
                        <div class="text-center mb-3">
                            <img src="icons/event.png" alt="icon" width="30">
                            <h5 style="color: #003566;"><b>Events Management</b></h5>
                        </div>
                        <p>Let us take care of your special day with our event and wedding management services! Whether
                            it's a wedding, birthday celebration, or other events, we'll handle, so
                            you can relax and enjoy the moment. Our team specializes in providing top-notch cars and
                            professional drivers to ensure your event runs smoothly from start to finish. Say hello to a
                            memorable experience with us! </p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="p-4 bg-white custom-card shadow-sm">
                        <div class="text-center mb-3">
                            <img src="icons/guest.png" alt="icon" width="30">
                            <h5 style="color: #003566;"><b>Guest Management</b></h5>
                        </div>
                        <p>Guest management involves welcoming and registering guests, assisting
                            with check-in and check-out procedures, providing information about facilities and services,
                            addressing concerns or requests, coordinating transportation and accommodations, managing
                            guest lists for events, handling arrangements for VIP guests, and ensuring each guest
                            receives personalized attention. </p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="p-4 bg-white custom-card shadow-sm">
                        <div class="text-center mb-3">
                            <img src="icons/valet.png" alt="icon" width="30">
                            <h5 style="color: #003566;"><b>Valet Parking</b></h5>
                        </div>
                        <p>Experience the convenience and luxury of our valet parking service. Simply drive up to our
                            designated valet area, and our friendly valet attendants will take care of the rest. They'll
                            park your car safely and securely while you enjoy your time without worrying about finding a
                            parking spot. When you're ready to leave, just let us know, and we'll bring your car right
                            back to you. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./footer.ejs') %>