<%- include('./header.ejs') %>

    <div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg'); "
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
                <div class="col-lg-8 ftco-animate">
                    <div class="text w-100 text-center mb-md-5 pb-md-5">
                        <h1 class="mb-4">Easy Transportation with Our Experienced Drivers</h1>
                        <p style="font-size: 18px;">Relax and enjoy the ride with our trusted drivers. <br>We'll take
                            you
                            where you need to go safely.</p>
                        <a href="https://vimeo.com/45830194"
                            class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-play"></span>
                            </div>
                            <div class="heading-title ml-5">
                                <span>Easy steps for a driver</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12 featured-top">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <form class="request-form ftco-animate bg-primary col-md-12" id="rent-form">
                                <h2>Book Your Driver</h2>
                                <div class="form-group">
                                    <label for="name" class="label">Your Name</label>
                                    <input type="text" class="form-control" placeholder="John Doe" name="name" id="name"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="location" class="label">Location</label>
                                    <input type="text" class="form-control" placeholder="City, Airport, Station, etc"
                                        name="location" id="location" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone-number" class="label">Phone number</label>
                                    <input type="text" class="form-control" placeholder="+91......." name="phone-number"
                                        id="phone-number" required pattern="[0-9]+" title="Please enter only numbers">
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="date" class="label">Service date</label>
                                        <input type="text" class="form-control" id="book_pick_date" placeholder="Date"
                                            name="date" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary py-3 px-4">Book Driver Now</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">Better Way to find a trusted driver</h3>
                                <div class="row d-flex mb-4">
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-route"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Choose Your Location</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-handshake"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Give Us The Details</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-car"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Ready For Your Ride</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="bg-primary text-white py-3 px-4 col-md-6 col-12">Reserve Your Perfect Driver
                                    Here!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                    <span class="subheading">What we offer</span>
                    <h2 class="mb-2">Featured Vehicles</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-car owl-carousel">
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end"
                                    style="background-image: url(images/car-1.jpg);">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">Cheverolet</span>
                                        <p class="price ml-auto">$500 <span>/day</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book
                                            now</a> <a href="#" class="btn btn-secondary py-2 ml-1">Details</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end"
                                    style="background-image: url(images/car-2.jpg);">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">Cheverolet</span>
                                        <p class="price ml-auto">$500 <span>/day</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book
                                            now</a> <a href="#" class="btn btn-secondary py-2 ml-1">Details</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end"
                                    style="background-image: url(images/car-3.jpg);">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">Cheverolet</span>
                                        <p class="price ml-auto">$500 <span>/day</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book
                                            now</a> <a href="#" class="btn btn-secondary py-2 ml-1">Details</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end"
                                    style="background-image: url(images/car-4.jpg);">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">Cheverolet</span>
                                        <p class="price ml-auto">$500 <span>/day</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book
                                            now</a> <a href="#" class="btn btn-secondary py-2 ml-1">Details</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Services</span>
                    <h2 class="mb-3">Our Latest Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a href="drivers">
                                <span class="flaticon-transportation"></span></a>
                        </div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Drivers & Taxi</h3>
                            <p>We've got you covered with our professional driver service. Sit back, relax, and let us
                                handle the wheel while you enjoy the ride!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-rent"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Rental Cars</h3>
                            <p>Experience luxury on wheels with our premium car rental service! From sedans to
                                stylish SUVs, make your journey extraordinary.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-wedding-car"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Tour Package</h3>
                            <p>Ready for an amazing journey? Enjoy the ride and make memories while
                                we handle all the details. Your adventure starts here!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-car"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Car Care</h3>
                            <p>Experience worry-free car care with our services! From maintenance to repairs. Let us
                                handle, your car is in expert hands.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-handshake"></span>
                        </div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Guest Management</h3>
                            <p>Discover effortless guest management with our all-inclusive services! From reservations
                                to tailored experiences, we've got your guests.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                    style="background-image: url(images/about.jpg);">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading">About us</span>
                        <h2 class="mb-4">Welcome to <br> Pappa’s travel company</h2>

                        <p class="">we prioritize your convenience and satisfaction. Whether you're in need of reliable
                            transportation, expert guest management, or personalized tour packages, we've got you
                            covered. Our dedicated team is committed to delivering exceptional service tailored to your
                            unique requirements, making every journey with us an unforgettable one.</p>
                        <p>Trust us to handle and enjoy the journey
                            with peace of mind.</p>
                        <p><a href="about" class="btn btn-primary py-3 px-4">More</a></p>
                    </div>
                    <!-- Travel stress-free with our suite of services, placing our dedicated driver service at the
                    forefront, available for all your daily needs and emergency cases. Whether you're gearing up
                    for a long journey or simply hopping around town, our professional drivers ensure your
                    travel experience is smooth and seamless. From maintaining your car with our expert car care
                    service to renting a vehicle for your journey, booking a personalized tour package, or
                    managing guest experiences with care and attention, we're here to exceed your expectations
                    at every turn. -->
                </div>
            </div>
        </div>
    </section>
    <!-- 
  <section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-6 heading-section heading-section-white ftco-animate">
          <h2 class="mb-3">Do You Want To Earn With Us? So Don't Be Late.</h2>
          <a href="#" class="btn btn-primary btn-lg">Become A Driver</a>
        </div>
      </div>
    </div>
  </section> -->


    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Testimonial</span>
                    <h2 class="mb-3">Happy Clients</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                        Vokalia and
                                        Consonantia, there live the blind texts.</p>
                                    <p class="name">Roger Scott</p>
                                    <span class="position">Marketing Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_2.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                        Vokalia and
                                        Consonantia, there live the blind texts.</p>
                                    <p class="name">Roger Scott</p>
                                    <span class="position">Interface Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_3.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                        Vokalia and
                                        Consonantia, there live the blind texts.</p>
                                    <p class="name">Roger Scott</p>
                                    <span class="position">UI Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                        Vokalia and
                                        Consonantia, there live the blind texts.</p>
                                    <p class="name">Roger Scott</p>
                                    <span class="position">Web Developer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries
                                        Vokalia and
                                        Consonantia, there live the blind texts.</p>
                                    <p class="name">Roger Scott</p>
                                    <span class="position">System Analyst</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section" style="background-color: #ffd60a;">
        <div class="container">
            <div class="text-center mb-5 ftco-animate">
                <h2 class="" style="color: #003566;"><b>Why Choose Us</b></h2>
                <p class="text-white">Experience Our Benifits</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 ftco-animate mb-5 text-white">
                    <div class="text-center">
                        <img src="icons/24.png" alt="" width="40px">
                        <p style="color: #003566;"><b>24X7 All Service Available</b></p>
                    </div>
                    <p>Enjoy the convenience of our 24/7 service.
                        Whether it's day or night, weekends, or holidays, we're here to serve you round-the-clock,
                        providing seamless travel solutions at your convenience.</p>
                </div>
                <div class="col-md-4 ftco-animate mb-5 text-white">
                    <div class="text-center">
                        <img src="icons/staff.png" alt="" width="40px">
                        <p style="color: #003566;"><b>Experienced Staffs</b></p>
                        <p class=""></p>
                    </div>
                    <p>Our staff comprises both young and experienced individuals who are trained and groomed to provide
                        excellent service. With their expertise and dedication, you can expect professional and
                        welcoming assistance throughout your experience with us.</p>
                </div>
                <div class="col-md-4 ftco-animate mb-5 text-white">
                    <div class="text-center">
                        <img src="icons/driver.png" alt="" width="40px">
                        <p style="color: #003566;"><b>Registered Drivers</b></p>
                    </div>
                    <p>Our drivers are verified and hold official registrations, prioritizing your safety and
                        peace of mind. With their professionalism and reliability, you can trust them to provide a
                        secure and comfortable travel experience every time you ride with us.</p>
                </div>
            </div>
        </div>
    </section>


    <script>
        $("#rent-form").submit((e) => {
            e.preventDefault()

            const name = $("#name").val().trim();
            const location = $("#location").val().trim();
            const phoneNumber = $("#phone-number").val().trim();
            const pickupDate = $("#book_pick_date").val();
            if (location == '' || phoneNumber == '' || !pickupDate || name == '') {
                alert("Please fill in all fields");
                return
            } else {
                $('#ftco-loader').addClass('show');
                $.ajax({
                    url: "https://script.google.com/macros/s/AKfycbxGe9kknGzQBFm4FN5nfUPUDNK1rh8ih7vZdMt__gFjKI-UEvByRRB9jJGQtYk579jv/exec",
                    data: $("#rent-form").serialize(),
                    method: "post",
                    success: function (response) {
                        $('#ftco-loader').removeClass('show');
                        alert("Details submitted successfully, We will contact you soon!")
                        $("#rent-form")[0].reset();
                    },
                    error: function (err) {
                        alert("Something Error")
                    }
                })
            }
        })
    </script>

    <%- include('./footer.ejs') %>