<%- include('./header.ejs') %>

    <div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg'); "
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
                <div class="col-lg-8 ftco-animate">
                    <div class="text w-100 text-center mb-md-5 pb-md-5">
                        <h1 class="mb-4">Easy Transportation with Our Experienced Drivers</h1>
                        <p style="font-size: 18px;">Relax and enjoy the ride with our trusted drivers. <br>We'll take
                            you
                            where you need to go safely.</p>

                        <a class="icon-wrap d-flex align-items-center mt-4 justify-content-center" data-toggle="modal"
                            data-target="#exampleModalCenter">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-play"></span>
                            </div>
                            <div class="heading-title ml-5">
                                <span>Easy steps for a driver</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <blockquote class="instagram-media"
                    data-instgrm-permalink="https://www.instagram.com/reel/C1LsWsnSPN7/?utm_source=ig_embed&amp;utm_campaign=loading"
                    style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                    <div style="padding:16px;"> <a
                            href="https://www.instagram.com/reel/C1LsWsnSPN7/?utm_source=ig_embed&amp;utm_campaign=loading"
                            style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                            target="_blank">
                            <div style=" display: flex; flex-direction: row; align-items: center;">
                                <div
                                    style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;">
                                </div>
                                <div
                                    style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                    <div
                                        style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;">
                                    </div>
                                    <div
                                        style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;">
                                    </div>
                                </div>
                            </div>
                            <div style="padding: 19% 0;"></div>
                            <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px"
                                    height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg"
                                    xmlns:xlink="https://www.w3.org/1999/xlink">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                                            <g>
                                                <path
                                                    d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg></div>
                            <div style="padding-top: 8px;">
                                <div
                                    style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                                    View this post on Instagram</div>
                            </div>
                            <div style="padding: 12.5% 0;"></div>
                            <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                                <div>
                                    <div
                                        style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);">
                                    </div>
                                    <div
                                        style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;">
                                    </div>
                                    <div
                                        style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);">
                                    </div>
                                </div>
                                <div style="margin-left: 8px;">
                                    <div
                                        style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;">
                                    </div>
                                    <div
                                        style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)">
                                    </div>
                                </div>
                                <div style="margin-left: auto;">
                                    <div
                                        style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);">
                                    </div>
                                    <div
                                        style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);">
                                    </div>
                                    <div
                                        style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);">
                                    </div>
                                </div>
                            </div>
                            <div
                                style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                                <div
                                    style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;">
                                </div>
                                <div
                                    style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;">
                                </div>
                            </div>
                        </a>
                        <p
                            style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                            <a href="https://www.instagram.com/reel/C1LsWsnSPN7/?utm_source=ig_embed&amp;utm_campaign=loading"
                                style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                                target="_blank">A post shared by PAPPAS TRAVEL COMPANY (@pappas_travel_company)</a>
                        </p>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12 featured-top">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <form class="request-form ftco-animate bg-primary col-md-12" id="rent-form">
                                <h2>Book Your Driver</h2>
                                <div class="form-group">
                                    <label for="name" class="label">Your Name</label>
                                    <input type="text" class="form-control" placeholder="John Doe" name="name" id="name"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="location" class="label">Location</label>
                                    <input type="text" class="form-control" placeholder="City, Airport, Station, etc"
                                        name="location" id="location" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone-number" class="label">Phone number</label>
                                    <input type="text" class="form-control" placeholder="+91......." name="phone-number"
                                        id="phone-number" required pattern="[0-9]+" title="Please enter only numbers">
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="date" class="label">Service date</label>
                                        <input type="text" class="form-control" id="book_pick_date" placeholder="Date"
                                            name="date" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary py-3 px-4">Book Driver Now</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">Better Way to find a trusted driver</h3>
                                <div class="row d-flex mb-4">
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-route"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Choose Your Location</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-handshake"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Give Us The Details</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-car"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Ready For Your Ride</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="bg-primary text-white py-3 px-4 col-md-6 col-12">Reserve Your Perfect Driver
                                    Here!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="ftco-section">
        <div class="container overflow-hidden review">
            <div class="elfsight-app-2e08962a-8bc1-4c94-af34-b4031177cd43" data-elfsight-app-lazy></div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="text-center mb-5">
                <span class="text-dark">Clients</span>
                <h2 style="color: #003566;"><b>Our Happy Clients</b></h2>
            </div>
            <div class="slider-container">
                <div class="row align-items-center">
                    <div class="slider-container rounded">
                        <div class="slider">
                            <div class="logos">
                                <img src="brands/kalyan.gif" alt="" width="70px" class="mx-3">
                                <img src="brands/sobha.svg" alt="" width="70px" class="mx-3">
                                <img src="brands/sathvarna-galaxy.png" alt="" width="70px" class="mx-3">
                                <img src="brands/bolgattypalace.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/casino hotel.png" alt="" width="70px" class="mx-3">
                                <img src="brands/chakolascommercialcoperation.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/chakolaspalazzo.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/chakolaspavilion.png" alt="" width="70px" class="mx-3">
                                <img src="brands/elite.png" alt="" width="70px" class="mx-3">
                                <img src="brands/finexx.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/safaricars.png" alt="" width="70px" class="mx-3">
                            </div>
                            <div class="logos from-last-client">
                                <img src="brands/kalyan.gif" alt="" width="70px" class="mx-3">
                                <img src="brands/sobha.svg" alt="" width="70px" class="mx-3">
                                <img src="brands/sathvarna-galaxy.png" alt="" width="70px" class="mx-3">
                                <img src="brands/bolgattypalace.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/casino hotel.png" alt="" width="70px" class="mx-3">
                                <img src="brands/chakolascommercialcoperation.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/chakolaspalazzo.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/chakolaspavilion.png" alt="" width="70px" class="mx-3">
                                <img src="brands/elite.png" alt="" width="70px" class="mx-3">
                                <img src="brands/finexx.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/kalindi residency.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/niyaregency.jpeg" alt="" width="70px" class="mx-3">
                                <img src="brands/pulimoottilsilks.png" alt="" width="70px" class="mx-3">
                                <img src="brands/safaricars.png" alt="" width="70px" class="mx-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt" style="background-color: #ffd60a;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5 mt-5">
                    <span class="text-dark">What we offer</span>
                    <h2 class="mb-2" style="color: #003566;">Featured Vehicles</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-car owl-carousel">
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded-t d-flex align-items-end"
                                    style="background-image: url(images/car-1.webp);">
                                </div>
                                <div class="text d-flex justify-content-between align-items-center">
                                    <div class="body">
                                        <p class="mb-0"><b>Audi A6</b></p>
                                        <div class="d-flex mb-3">
                                            <span class="cat">Sedan</span>
                                        </div>
                                    </div>
                                    <div class="mb-0 d-block">
                                        <a href="httdivs://wa.me/+919048468111"
                                            class="btn-hover color-1 px-3 py-2 rounded">Book
                                            now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded-t d-flex align-items-end"
                                    style="background-image: url(images/car-2.webp);">
                                </div>
                                <div class="text d-flex justify-content-between align-items-center">
                                    <div class="body">
                                        <p class="mb-0"><b>Range Rover Evoque</b></p>
                                        <div class="d-flex mb-3">
                                            <span class="cat">SUV</span>

                                        </div>
                                    </div>
                                    <div class="mb-0 d-block">
                                        <a href="https://wa.me/+919048468111"
                                            class="btn-hover color-1 px-3 py-2 rounded">Book now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded-t d-flex align-items-end"
                                    style="background-image: url(images/car-3.webp);">
                                </div>
                                <div class="text d-flex justify-content-between align-items-center">
                                    <div class="body">
                                        <p class="mb-0"><b>Rolls-Royce</b></p>
                                        <div class="d-flex mb-3">
                                            <span class="cat">Ghost</span>

                                        </div>
                                    </div>
                                    <div class="mb-0 d-block">
                                        <a href="https://wa.me/+919048468111"
                                            class="btn-hover color-1 px-3 py-2 rounded">Book now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded-t d-flex align-items-end"
                                    style="background-image: url(images/car-4.webp);">
                                </div>
                                <div class="text d-flex justify-content-between align-items-center">
                                    <div class="body">
                                        <p class="mb-0"><b>Audi Q3</b></p>
                                        <div class="d-flex mb-3">
                                            <span class="cat">SUV</span>

                                        </div>
                                    </div>
                                    <div class="mb-0 d-block">
                                        <a href="https://wa.me/+919048468111"
                                            class="btn-hover color-1 px-3 py-2 rounded">Book now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="text-dark">Services</span>
                    <h2 class="mb-3" style="color: #003566;">Our Latest Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a href="drivers">
                                <span class="flaticon-transportation"></span></a>
                        </div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Drivers & Taxi</h3>
                            <p>We've got you covered with our professional driver service. Sit back, relax, and let us
                                handle the wheel while you enjoy the ride!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-rent"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Rental Cars</h3>
                            <p>Experience luxury on wheels with our premium car rental service! From sedans to
                                stylish SUVs, make your journey extraordinary.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-wedding-car"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Tour Package</h3>
                            <p>Ready for an amazing journey? Enjoy the ride and make memories while
                                we handle all the details. Your adventure starts here!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-car"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Car Care</h3>
                            <p>Experience worry-free car care with our services! From maintenance to repairs. Let us
                                handle, your car is in expert hands.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-handshake"></span>
                        </div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Events Management</h3>
                            <p>Discover event management with our all-inclusive services! From reservations
                                to tailored experiences, we've got your guests.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="icons/gift.png" alt="" width="30px">
                        </div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Surprise Gift Delivery</h3>
                            <p>Surprise someone special with our gift delivery service! Whether it's a birthday,
                                anniversary, or just because.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section" style="background-color: #ffd60a;">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center ftco-animate"
                    style="background-image: url(images/about.jpg);">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading">About us</span>
                        <h2 class="mb-4">Welcome to <br> Pappa’s travel company</h2>

                        <p class="">We prioritize your convenience and satisfaction. Whether you're in need of reliable
                            transportation, expert guest management, or personalized tour packages, we've got you
                            covered. Our dedicated team is committed to delivering exceptional service tailored to your
                            unique requirements, making every journey with us an unforgettable one.</p>
                        <p>Trust us to handle and enjoy the journey
                            with peace of mind.</p>
                        <p><a href="about" class="btn btn-primary py-2 px-4 rounded-lg shadow-sm">More info</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section bg-light" style="height: 100vh;">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Clients</span>
                    <h2 class="mb-3" style="color: #003566;">Our Celebrity Clients</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/spadikam-george.webp)">
                                </div>
                                <div class="text">
                                    <p class="name">Spadikam George</p>
                                    <span class="">Actor</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/varada.jpg)">
                                </div>
                                <div class="text">
                                    <p class="name">Varada</p>
                                    <span class="">Actress</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/lakshmi_nakshthra.jpg)">
                                </div>
                                <div class="text">
                                    <p class="name">Lakshmi Nakshthra</p>
                                    <span class="">Anchor</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/sunil_sukhada.webp)">
                                </div>
                                <div class="text">
                                    <p class="name">Sunil Sukhada</p>
                                    <span class="">Actor</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/anfal_safari.jpg)">
                                </div>
                                <div class="text">
                                    <p class="name">Anfal Safari</p>
                                    <span class="">Youtuber</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2"
                                    style="background-image: url(images/abhishek_raveendran.jpg)">
                                </div>
                                <div class="text">
                                    <p class="name">Abhishek Raveendran</p>
                                    <span class="">Actor</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(images/sarath_krishnan.jpg)">
                                </div>
                                <div class="text">
                                    <p class="name">Sarath Krishnan</p>
                                    <span class="">Youtuber</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section" style="background-color: #ffd60a;">
        <div class="container">
            <div class="text-center mb-5 ftco-animate">
                <h2 class="" style="color: #003566;"><b>Why Choose Us</b></h2>
                <p class="text-dark">Experience Our Benifits</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 ftco-animate mb-5 text-dark">
                    <div class="text-center">
                        <img src="icons/24.png" alt="" width="40px">
                        <p style="color: #003566;"><b>24X7 All Service Available</b></p>
                        <p>Enjoy the convenience of our 24/7 service. Whether it's day or night, weekends, or holidays,
                            we're here to serve you round-the-clock, providing seamless travel solutions at your
                            convenience.</p>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate mb-5 text-dark">
                    <div class="text-center">
                        <img src="icons/staff.png" alt="" width="40px">
                        <p style="color: #003566;"><b>Experienced Staffs</b></p>
                        <p class=""></p>
                        <p>Our staff comprises both young and experienced individuals who are trained and groomed to
                            provide excellent service. With their expertise and dedication, you can expect professional
                            assistance with us.</p>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate mb-5 text-dark">
                    <div class="text-center">
                        <img src="icons/driver.png" alt="" width="40px">
                        <p style="color: #003566;"><b>Registered Drivers</b></p>
                        <p>Our drivers are verified and hold official registrations, prioritizing your safety and
                            peace of mind. With their professionalism , you can trust them to provide a
                            secure and comfortable travel experience every time you ride with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        $("#rent-form").submit((e) => {
            e.preventDefault()

            const name = $("#name").val().trim();
            const location = $("#location").val().trim();
            const phoneNumber = $("#phone-number").val().trim();
            const pickupDate = $("#book_pick_date").val();
            if (location == '' || phoneNumber == '' || !pickupDate || name == '') {
                alert("Please fill in all fields");
                return
            } else {
                $('#ftco-loader').addClass('show');
                $.ajax({
                    url: "https://script.google.com/macros/s/AKfycbxGe9kknGzQBFm4FN5nfUPUDNK1rh8ih7vZdMt__gFjKI-UEvByRRB9jJGQtYk579jv/exec",
                    data: $("#rent-form").serialize(),
                    method: "post",
                    success: function (response) {
                        $('#ftco-loader').removeClass('show');
                        alert("Details submitted successfully, We will contact you soon!")
                        $("#rent-form")[0].reset();
                    },
                    error: function (err) {
                        alert("Something Error")
                    }
                })
            }
        })
    </script>

    <%- include('./footer.ejs') %>