<%- include('./header.ejs') %>
    <section class="hero-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="bg-area d-flex align-items-end">
                        <div class="ftco-animate">
                            <p class="breadcrumbs">
                                <span class=""><a href="/" class="text-light">Home <i
                                            class="ion-ios-arrow-forward"></i></a></span>
                                <span>Services <i class="ion-ios-arrow-forward"></i></span>
                            </p>
                            <h1 class="text-white">Our Services</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Services</span>
                    <h2 class="mb-3">Our Latest Services</h2>
                </div>
            </div>
            <div class="row justify-content-center py-4 m-2 mb-5 border rounded bg-white">
                <div class="col-md-6">
                    <div class="img-container ftco-animate">
                        <img src="images/service_1.jpg" alt="Image" class="col-md-12">
                    </div>
                </div>
                <div class="col-md-6 p-4">
                    <div class="content text-dark ftco-animate">
                        <h2 class="mb-3 text-primary"><b>Drivers & Taxi</b></h2>
                        <p class="mb-2">Need to go somewhere, but don't have a driver? Where do you want to go?</p>
                        <p class="mb-2">Our drivers are here to make your travels safe and comfortable. They're
                            well-trained and friendly, ready to take you anywhere you need to go. Whether it's a short
                            trip or a long journey, they'll ensure you get there smoothly.</p>
                        <p class="mb-3">
                            Need a ride? Book a driver with us today and enjoy the journey stress-free. Sit back, relax,
                            and let us handle the driving while you focus on enjoying the ride.
                        </p>
                        <a href="contact" class="mb-3"><strong><u>Your journey is just a click away!</u></strong></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center py-4 m-2 mb-5 border rounded bg-white">
                <div class="col-md-6 p-4">
                    <div class="content text-dark ftco-animate">
                        <h2 class="mb-3 text-primary"><b>Rental Cars</b></h2>
                        <p class="mb-2">Are you worried about booking a luxury car for your big event? We can make it easy for you!</p>
                        <p class="mb-2">Make your big day extra special with our luxury car rental service, ideal for
                            events like weddings and special celebrations. </p>
                        <p class="mb-3">
                            Enjoy easy rentals and friendly service that'll make every moment feel like a grand
                            adventure. With our fantastic service, your wedding day dreams become a reality.
                            Book your dream car today and let the celebrations begin!
                        </p>
                        <a href="contact" class="mb-3"><strong><u>Your journey is just a click away!</u></strong></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-container ftco-animate">
                        <img src="images/service_2.jpg" alt="Image" class="col-md-12">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- <section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section heading-section-white ftco-animate">
                    <h2 class="mb-3">Do You Want To Earn With Us? So Don't Be Late.</h2>
                    <a href="#" class="btn btn-primary btn-lg">Become A Driver</a>
                </div>
            </div>
        </div>
    </section> -->

    <%- include('./footer.ejs') %>