.dropdown-link {
    color: white;
}

.dropdown-link:hover {
    color: blac;
}

.bg-area {
    height: 300px;
    width: 100%;
}

.hero-bg{
    background-color: #000814;
    width: 100%;
    height: 300px;
}

.custom-heading{
    color: #000814;
}