.dropdown-link {
    color: white;
}

.dropdown-link:hover {
    color: blac;
}

.bg-area {
    height: 300px;
    width: 100%;
}

.hero-bg {
    background-color: #000814;
    width: 100%;
    height: 300px;
}

.custom-heading {
    color: #000814;
}

.car_card {
    width: 380px;
    height: 350px;
}

.card-container {
    position: relative;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-text {
    color: white;
}


.btn-hover {
    height: 30px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    color: #fff;
    font-weight: 300;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    color: white;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #003566, #065aa9, #055aa9, #034079);
    box-shadow: 0 1px 5px 0 #0766c0;
}

.custom-card {
    border-radius: 20px;
    height: 450px;
}

.slider-container {
    overflow: hidden;

    .slider {
        animation: slidein 30s linear infinite;
        white-space: nowrap;

        .logos {
            display: inline-block;
            margin: 0px 0;

            .fab {
                width: calc(100% / 5);
                animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
            }
        }
    }
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.travel-card {
    width: 100%;
    height: 400px;
}

.travel-img {
    width: 100%;
    height: 350px;
}

/* Custom styles for the fixed button */
.fixed-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #01d28e;
    color: white;
    cursor: pointer;
    z-index: 1000;
    animation: zoomInOut 1s infinite alternate;
}

@keyframes zoomInOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.fixed-btn:hover {
    background-color: #03b87c;
}